$button-blue-gradient: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
$dialog-container-background: #747476;
$dialog-box-background: #272B31;

$progress-bar-bg: #7D7C7D;

$font-light-blue: #66c0f4;
$font-dark-blue: #10161b;

$header-bg: #171A21;
$header-font-fg: #C5C3C0;
$header-font-fg-hover: #FFFFFF;
$header-green: #5B7D0F;
$header-user-avatar: #6A6A6A;

$login-bg: #272B31;
$login-input: #32353C;
$login-btn: #3389E4;
$login-btn-hover: #47BFFF;
$login-font: #7D7C7D;

$home-lightblue: #367097;
$home-sidebar-font: #c6d4df;
$home-sidebar-header-font: #c6d4df;
$home-sidebar-content-font: #66c0f4;
$home-header-search-bar-bg: #316282;
$home-header-search-bar-font: #0e1c25;

$home-nav-search-bg: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
$home-nav-search-hover-bg: #212d3d;

$search-content-bg: #1B2838;
$search-hover: #121A24;
$search-row-bg: #16202D;
$search-font-yellow: #C5C7AB;
$search-filter-fg: #323E4C;

$profile-background: #1A425D;
$profile-theme: #212D36;
$profile-picture-border: #747476;
$font-gray: #747476;
$font-light-gray: #C5C3C0;
$badge-slot-bg: #0A0C1D;
$btn-gray: #353E4E;

$edit-profile-header: #2D3036;
$edit-profile-bg: #21262A;
$edit-font-hover: #47BFFF;
$edit-profile-sidebar-selected: #3D4450;
$edit-input-box: #1E2023;
$edit-input-font: #909090;
$edit-input-button: #3d4450;

$admin-table-bg: #3D4450;

$admin-games-view-bg: #171B22;
$green-btn: #5B7D0F;
$red-btn: #a30002;
$blue-btn: rgba( 103, 193, 245, 0.2 );

$dark-blue-home: #1B2838;
$light-blue-home: #1F3546;
$middle-blue-home: #22394B;
$blue-hover: #A2C7DD;
$blue-hover-gradient: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
$gray-bg: #4D6171;

$inventory-black-bg: #1C1F21;
$gray-inventory: #353A40;

$points-shop-gradient: linear-gradient(144.37deg, rgba(130, 156, 219, 0) 68.22%, rgba(82, 125, 235, 0.32) 113.95%);
$points-shop-bg: #132032;
