<div class="home-nav-content">
  <div id="wishlist-container">
    <a href="/wishlist">
      <div class="wishlist-content">
        Wishlist
      </div>
    </a>
    <a href="/cart">
      <div class="cart-content">
        Cart
      </div>
    </a>
  </div>
  <div class="store-nav">
    <div class="store-nav-tab">
      <a href="#" id="yourstore-tab" class="tab">
        <span><img src="{{ this.user.avatar }}" alt="{{ this.user.accountName }} Avatar" *ngIf="this.isUser"> Your Store <i class="fa fa-sort-desc" aria-hidden="true"></i></span>
      </a>
      <a href="#" id="browse-tab"class="tab">
        <span>Browse</span> <i class="fa fa-sort-desc" aria-hidden="true"></i>
      </a>
      <a href="#" id="pointsshop-tab" class="tab">
        <span>Points Shop</span>
      </a>
      <a href="#" id="news-tab" class="tab">
        <span>News</span>
      </a>
      <a href="#" id="steamlabs-tab" class="tab">
        <span>Steam Labs</span>
      </a>
    </div>
    <div class="store-search">
      <form action="#" class="search-form">
        <div class="search-box">
          <input type="text" placeholder="search the store" autocomplete="off" onfocus="this.placeholder=''"
                 (focusout)="onInputFocusOut($event)" (focusin)="onInputFocusIn($event)"
                 onblur="this.placeholder='search the store'" #searchInput>
          <i class="fa fa-search" aria-hidden="true" (click)="searchGame()"></i>
        </div>
      </form>
      <div class="search-result" *ngIf="games.length > 0 && inFocus">
        <div class="result-container">
          <a href="/game/{{game.id}}" class="row" *ngFor="let game of games"> <!-- loop here -->
            <div class="banner-container">
              <img src="{{game.banner}}" alt="Game Banner">
            </div>
            <div class="detail-container">
              <span class="name">{{game.name}}</span>
              <span class="price" *ngIf="game.originalPrice != 0">{{game.originalPrice}}</span>
              <span class="price" *ngIf="game.originalPrice == 0">Free to Play</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
