<div class="sidebar">
  <div class="sidebar-header">
    <a href="#">
      <img src="../../../assets/home/steamcards.png" alt="SteamCards">
    </a>
    <br>
    Gift Cards
  </div>
  <div class="sidebar-content">
    <a href="#">Now Available on Steam</a>
  </div>
  <div class="sidebar-header">
    Recommended
  </div>
  <div class="sidebar-content">
    <a href="#">By Friends</a>
    <a href="#">By Curators</a>
    <a href="#">Tags</a>
  </div>
  <div class="sidebar-header">
    Discovery Queues
  </div>
  <div class="sidebar-content">
    <a href="#">Recommendations</a>
    <a href="#">New Releases</a>
  </div>
  <div class="sidebar-header">
    Browse Categories
  </div>
  <div class="sidebar-content">
    <a href="#">Top Sellers</a>
    <a href="#">New Releases</a>
    <a href="#">Upcoming</a>
    <a href="#">Specials</a>
    <a href="#">Virtual Reality</a>
    <a href="#">Controller Friendly</a>
  </div>
  <div class="sidebar-header">
    Browse by Genre
  </div>
  <div class="sidebar-content">
    <a href="#" *ngFor="let genre of genres">{{genre.name}}</a>
  </div>
  <div class="sidebar-header" *ngIf="this.isUser">
    Your Tags
  </div>
  <div class="sidebar-content" *ngIf="this.isUser">

  </div>
  <div class="sidebar-header" *ngIf="this.isUser">
    Recently Viewed
  </div>
  <div class="sidebar-content" *ngIf="this.isUser">

  </div>
</div>
