<app-header-main [user]="this.user" [isUser]="isUser"></app-header-main>
<section>
  <div class="container" style="background-image: url({{ this.user.profileBackground }})">
    <div class="content-theme">
      <div class="profile-header">
        <div class="profile-data">
          <div class="profile-detail">
            <span class="profile-name">
              {{ this.user.profileName }}
            </span>
            <div class="real-name-country">
              {{ this.user.realName }} | {{ this.user.country }}
            </div>
            <div class="summary">
              {{ this.user.summary }}
            </div>
          </div>
          <img src="{{ this.user.avatar }}" alt="User avatar">
        </div>
        <div class="profile-badge">
          <a href="#" class="profile-level">Level {{ this.user.level }}</a>
          <div class="badge-slot">
            You can feature one of your Badges here. Select one from your
            <a href="#">edit profile</a> page
          </div>
          <div class="edit-profile-btn-container">
            <a [routerLink]="['/user/', this.user.customURL, 'edit']" class="edit-profile-btn">
              <span>Edit Profile</span>
            </a>
          </div>
        </div>
      </div>
      <div class="main-content">

      </div>
    </div>
  </div>
</section>
