<app-header-main [user]="user" [isUser]="isUser"></app-header-main>
<section>
  <div class="container" [ngStyle]="{'background-image': 'url(' + profileUser.profileBackground.link + ')'}">
    <div class="content-theme">
      <div class="profile-header">
        <div class="profile-data">
          <img src="{{ this.profileUser.avatar }}" alt="User avatar">
          <div class="profile-detail">
            <span class="profile-name">
              {{ this.profileUser.profileName }}
            </span>
            <div class="real-name-country">
              {{ this.profileUser.realName }} | {{ this.profileUser.country.name }}
            </div>
            <div class="summary">
              {{ this.profileUser.summary }}
            </div>
          </div>
        </div>
        <div class="profile-badge">
          <a href="#" class="profile-level">Level {{ level }}</a>
          <div class="badge-slot" *ngIf="profileUser.featuredBadge.id == undefined">
            You can feature one of your Badges here. Select one from your
            <a href="#">edit profile</a> page
          </div>
          <div class="badge-slot" *ngIf="profileUser.featuredBadge.id != undefined">
            <img src="{{profileUser.featuredBadge.link}}" alt="Badge">
            <div class="badge-desc">
              <span class="badge-name">{{profileUser.featuredBadge.name}}</span>
              <span class="badge-xp">{{profileUser.featuredBadge.xp}} XP</span>
            </div>
          </div>
          <div class="button-container" *ngIf="isUser && isFriend">
            <div *ngIf="user.accountName != profileUser.accountName && isFriend">
              <span class="btn">Message</span>
              <span class="btn" (click)="reportModal = true">Report</span>
            </div>
          </div>
          <div class="button-container" *ngIf="isUser && isSelf">
            <a *ngIf="user.accountName == profileUser.accountName"
               [routerLink]="['/user/', this.profileUser.customURL, 'edit']">
              <span class="btn">Edit Profile</span>
            </a>
          </div>
          <div class="button-container" *ngIf="isUser && (isTotalStranger || isPendingStranger)">
            <div *ngIf="isTotalStranger">
              <span class="btn" (click)="sendFriendRequest()">Add Friend</span>
              <span class="btn" (click)="reportModal = true">Report User</span>
            </div>
            <div *ngIf="isPendingStranger">
              <span class="btn">Cancel Request</span>
              <span class="btn" (click)="reportModal = true">Report User</span>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="content-container left-content">
          <div class="recent-activity-title">Recent Activity</div>
        </div>
        <div class="content-container right-content">
          <div class="online-status-container">
            <div class="online-status">Currently Offline</div>
            <div class="online-time">Last Online 27 days ago</div>
          </div>
          <div class="property-container">
            <a href="#" class="property-name">Badges</a>
            <div class="property-count">{{profileUser.badges.length}}</div>
          </div>
          <div class="property-container">
            <a href="#" class="property-name">Games</a>
            <div class="property-count">{{profileUser.games.length}}</div>
          </div>
          <div class="property-container">
            <a href="/user/{{profileUser.customURL}}/inventory" class="property-name">Inventory</a>
          </div>
          <div class="property-container">
            <a href="#" class="property-name">Reviews</a>
          </div>
          <div class="friends-property-container">
            <div class="friends-description-container">
              <a href="#" class="property-name">Friends</a>
              <div class="property-count">{{profileUser.friends.length}}</div>
            </div>
            <div class="friends-container">
              <div class="friends-content" *ngFor="let friend of profileUser.friends; let i = index"
                   (mouseenter)="onHover(i)"
                   (mouseleave)="clearHover()">
                <app-mini-profile-card [user]="friend"
                                       [selectedBackground]="friend.miniProfileBackground.link"
                                       [avatarFrame]="friend.avatarFrame.link"
                                       *ngIf="friendContainers[i]"></app-mini-profile-card>
                <a href="/user/{{friend.customURL}}" class="profile-detail-container">
                  <img src="{{friend.avatar}}" alt="User avatar">
                  <span class="profile-name">{{friend.profileName}}</span>
                </a>
                <span class="friend-level">{{floorNumber(friend.experience / 100)}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" *ngIf="reportModal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="header-title">Report User</span>
        <span class="close" (click)="reportModal = false">&times;</span>
      </div>
      <div class="modal-description">
        Send Suspend Request for {{profileUser.accountName}}'s Account
      </div>
      <div class="input-container">
        <span class="input-title">Tell us your reason in the text area below</span>
        <textarea name="description" id="description" cols="30" rows="5" [(ngModel)]="suspensionRequest.description" placeholder="Why should be suspend this user?"></textarea>
      </div>
      <div class="button-section">
        <div class="button-container">
          <span class="success-box" *ngIf="isSuccessModal">Data updated!</span>
          <span class="error-box" *ngIf="isErrorModal">Oops, something went wrong!</span>
          <button class="btn cancelBtn" (click)="reportModal = false">Cancel</button>
          <button class="btn saveBtn" (click)="onSaveReport()">Save</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
