@import '../../../styles/colors';
@import '../../../styles/mixins';

section {
  @include flex-center;
  background: url("../../../../assets/home/bg.png") center top;
  background-size: cover;
  min-height: 100%;
  width: 100%;
}

.wishlist-outer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  .content-container {
    display: flex;
    flex-direction: column;
    background-color: $search-content-bg;
    margin-top: 30px;
    padding: 20px 30px;
    .header-container {
      font-size: 20px;
      text-transform: uppercase;
      color: $font-light-gray;
    }
    .outer-container {
      background-color: $admin-games-view-bg;
      color: $font-light-gray;
      .inner-container {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        .content-container {
          .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            border-bottom: 2px solid $login-font;
            flex-wrap: wrap;
            .game-detail {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 10px 15px;
              flex-wrap: wrap;
              .banner-container {
                max-height: 100px;
                img {
                  height: 75px;
                  width: 200px;
                }
              }
              .description {
                display: flex;
                flex-direction: column;
                padding-left: 25px;
                .name-container {
                  .name {
                    font-size: 18px;
                  }
                  .discount {
                    margin-left: 15px;
                    background-color: $green-btn;
                    padding: 3px;
                  }
                }
                .price-container {
                  .original-price {
                    font-size: 14px;
                    font-weight: lighter;
                    color: $font-gray;
                    font-style: italic;
                    text-decoration: line-through;
                  }
                  .final-price {
                    margin-left: 15px;
                  }
                }
              }
            }
            .button-container {

              .btn {
                padding: 8px 25px;

                width: 75px;
                text-align: center;
                color: white;
                text-decoration: none;
                border-radius: 3px;
                margin: 0 5px;
                cursor: pointer;
              }
              .btn:hover {
                -webkit-filter: brightness(120%);
              }
              .remove-btn {
                background-color: $red-btn;
              }
            }
          }
        }
      }
      .total-price {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
      }
      .button-container {
        display: flex;
        padding: 10px 20px;
        .btn {
          background-color: $green-btn;
          color: white;
          font-size: 14px;
          padding: 3px 5px;
          margin: 0 10px;
          cursor: pointer;
        }
        .btn:hover {
          -webkit-filter: brightness(120%);
        }
      }
    }
  }
}
