<div class="footer-container">
  <div class="footer">
    <div class="description">
      <img src="../../../assets/footer_valve_logo.png" alt="Footer Valve Logo" class="footer-logo">
      <div class="desc-text">&copy; 2021 Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries.
        VAT included in all prices where applicable.</div>
    </div>
    <div class="links-container">
      <a href="https://store.steampowered.com/about/">About Valve</a>
      <a href="/community">Community</a>
      <a href="/market">Market</a>
      <a href="/discussion">Discussion</a>
      <a href="/">Store</a>
      <a href="/top-up">Top Up</a>
      <a href="https://store.steampowered.com/points/shop">Points Shop</a>
      <a href="https://store.steampowered.com/communityrecommendations/">Recommendations</a>
      <a href="https://store.steampowered.com/news/">News</a>
      <a href="https://store.steampowered.com/stats/">Stats</a>
    </div>
  </div>
</div>
