@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.footer-container {
  position: relative;
  top: auto;
  bottom: auto;
  max-height: 20px;
  padding: 20px 30px;
  .footer {
    @include flex-center();
    flex-direction: column;
    padding: 10px 0;
    flex-wrap: wrap;
    .description {
      display: flex;
      flex-direction: row;
      .footer-logo {
        width: 100%;
        max-width: 75px;
        height: auto;
        margin-right: 10px;
      }
      .desc-text {
        font-size: 12px;
        color: $font-light-gray;
      }
    }
    .links-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      a {
        color: $font-light-gray;
        font-size: 10px;
        text-decoration: none;
        padding: 10px 20px;
      }
      a:hover {
        color: $light-blue-home;
      }
    }
  }
}
