<div class="header-container">
    <div class="header">
        <!-- LEFT SIDE HEADER LOGO + 4 CHOICES -->
        <div class="header-left">
            <a href="#"><img src="../../../assets/steam_logo.png" alt="header logo"></a>
            <ul>
                <li>
                    <!-- STORE DROPDOWN -->
                    <div class="dropdown">
                        <a href="#">Store</a>
                        <div class="dropdown-content-store">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Discovery queue</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Point shop</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Stats</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <!-- COMMUNITY DROPDOWN -->
                    <div class="dropdown">
                        <a href="#">Community</a>
                        <div class="dropdown-content-community">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Discussions</a></li>
                                <li><a href="#">Workshop</a></li>
                                <li><a href="#">Market</a></li>
                                <li><a href="#">Broadcasts</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- ABOUT MENU -->
                <li><a href="#">About</a></li>
                <!-- SUPPORT MENU -->
                <li><a href="#">Support</a></li>
            </ul>
        </div>
        <!-- RIGHT SIDE HEADER 2 MENU -->
        <div class="header-right">
            <ul>
                <!-- REDIRECT TO LOGIN PAGE -->
                <li><a routerLink="/login">login</a></li>
                <li>  |  </li>
                <!-- CHANGE LANGUAGE -->
                <li>language</li>
                <li>  |  </li>
                <li><a routerLink="/admin/login">admin</a></li>
            </ul>
        </div>
    </div>
</div>
