@import '../../../styles/mixins';
@import '../../../styles/colors';

section {
  @include steam-bg();
  padding-top: 20px;
  .market-outer-container {
    width: 100%;
    color: $font-light-gray;
    .page-header {
      padding: 0 20px;
      width: 100%;
      background-color: $header-green;
      @include flex-center();
      .header-container {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        .title {
          font-size: 24px;
          color: white;
        }
        .description {
          font-size: 16px;
        }
      }
    }
    .content {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      @include flex-center();
      .content-container {
        display: flex;
        justify-content: start;
        flex-direction: column;
        .header {
          font-size: 20px;
          color: white;
          padding: 0 10px;
        }
        .item-data-container {
          .item-data {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $dark-blue-home;
            margin-bottom: 10px;
            padding: 10px 15px;
            .name-container {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-right: 15px;
              cursor: pointer;
              img {
                width: 150px;
                border: 1px solid $font-light-gray;
                margin-right: 10px;
              }
              .detail-container {
                .name {

                }
                .game-name {
                  font-size: 14px;
                  color: $font-gray;
                }
              }
            }
            .transaction-count {
              font-size: 12px;
              color: $font-gray;
              text-wrap: normal;
            }
          }
          .navigation-container {
            @include paginate-navigation();
          }
        }
      }
    }
  }
}
