@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

section {
  width: 100%;
  height: 100%;
}

.suspension-content {
  color: $font-light-gray;
  @include flex-center();
  margin-top: 50px;
  flex-direction: column;
  .content-container {
    display: flex;
    flex-direction: column;
    .content {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      span {
        font-size: 14px;
      }
      input, textarea {
        background-color: $edit-input-box;
        color: $edit-input-font;
        box-shadow: inset 1px 1px 0px #000a;
        border: none;
        padding: 10px;
      }
    }
    .button-container {
      margin-top: 20px;
      margin-bottom: 100px;
      .submitBtn {
        width: 150px;
        padding: 6px 40px;
        margin: 0 10px;
        border-radius: 3px;
        font-size: 14px;
        color: white;
        border: none;
        cursor: pointer;
        @include blue-gradient-button;
      }
      .submitBtn:hover {
        -webkit-filter: brightness(120%);
      }
    }
  }
}
