<app-header-main [user]="user" [isUser]="isUser"></app-header-main>
<section>
  <div class="header-container">
    <span class="header">Send Gift to your friends</span>
  </div>
  <div class="content-container">
    <div class="dropdown-input">
      <label for="friends">Friends</label>
      <select name="friends" id="friends" [(ngModel)]="friendId">
        <option *ngFor="let friend of user.friends; let i = index" value="{{friend.id}}">
          {{friend.accountName}}
        </option>
      </select>
    </div>
    <div class="text-input">
      <label for="first-name">Recipient's first name</label>
      <input type="text" id="first-name" [(ngModel)]="firstName">
    </div>
    <div class="text-input">
      <label for="message">Gift message</label>
      <textarea name="message" id="message" cols="30" rows="10" [(ngModel)]="message"></textarea>
    </div>
    <div class="text-input">
      <label for="sentiment">Your sentiment</label>
      <input type="text" id="sentiment" [(ngModel)]="sentiment">
    </div>
    <div class="text-input">
      <label for="signature">Your signature</label>
      <input type="text" id="signature" [(ngModel)]="signature">
    </div>
  </div>
  <div class="button-container">
    <div class="submitBtn" (click)="submit()">Submit</div>
  </div>
</section>
