<app-header-main [user]="this.user" [isUser]="this.isUser"></app-header-main>
<section>
  <div class="game-detail-outer-container">
    <app-home-nav [user] = "user" [isUser]="isUser"></app-home-nav>
    <div class="content-container">
      <div class="header-container">
        <span class="name">{{game.name}}</span>
        <button class="btn">Community Hub</button>
      </div>
      <div class="highlights-container">
        <div class="slideshow-container">
          <div class="big-media-container">
            <img src="{{selectedImage.link}}" alt="Selected Image" *ngIf="isImageSelected">
            <video src="{{selectedVideo.link}}" *ngIf="!isImageSelected" controls></video>
          </div>
          <div class="media-scroll">
            <div class="small-media-container">
              <video src="{{video.link}}" *ngFor="let video of game.video"
              [ngClass]="videosList[video.id] ? 'select' : 'deselect'"
              (click)="onClick(video.id, false)"></video>
              <img src="{{image.link}}" alt="Game Image" *ngFor="let image of game.images"
              [ngClass]="imagesList[image.id] ? 'select' : 'deselect'"
              (click)="onClick(image.id, true)">
            </div>
          </div>
        </div>
        <div class="detail-container">
          <img src="{{game.banner}}" alt="Game banner">
          <div class="summary">{{game.description}}</div>
          <div class="more-detail-container">
            <span class="detail-name">Release Date</span>
            <span class="detail-value">{{game.createdAt | date}}</span>
          </div>
          <div class="more-detail-container">
            <span class="detail-name">Developer</span>
            <span class="detail-value"><span *ngFor="let developer of game.developers">{{developer.name}} </span></span>
          </div>
          <div class="more-detail-container">
            <span class="detail-name">Publisher</span>
            <span class="detail-value">{{game.publisher.name}}</span>
          </div>
          <div class="user-tag-container">
            <div class="user-tag-title">Popular user-defined tags for this product:</div>
            <div class="tags-container"><span class="tag" *ngFor="let tag of game.tags">{{tag.name}}</span></div>
          </div>
        </div>
      </div>
      <div class="add-to-cart-container">
        <div class="title">Buy {{game.name}}</div>
        <div class="outer-price-container">
          <span class="discount-container" *ngIf="game.promo.discountPercentage > 0">-{{game.promo.discountPercentage}}%</span>
          <span class="price-container">
            <span class="original-price" *ngIf="game.promo.discountPercentage > 0">{{game.originalPrice}}</span>
            <span class="final-price" *ngIf="game.promo.discountPercentage > 0">{{game.originalPrice - (game.originalPrice * game.promo.discountPercentage/100)}}</span>
            <span class="final-price" *ngIf="game.originalPrice == 0">Free to Play</span>
          </span>
        </div>
        <div class="add-to-cart-btn" *ngIf="game.originalPrice > 0 && !isInCart && !isHaveGame" (click)="addToCart()">Add to Cart</div>
        <div class="add-to-cart-btn" *ngIf="game.originalPrice == 0">Install Game</div>
        <div class="add-to-wishlist-btn" (click)="addToWishlist()" *ngIf="!isInWishlist && !isHaveGame">Add to your Wishlist</div>
      </div>
      <div class="review-form-container" *ngIf="isHaveGame">
        <div class="review-form-header">
          Write a review for {{game.name}}
        </div>
        <div class="review-input-container" *ngIf="isHaveGame">
          <div class="user-avatar">
            <img src="{{user.avatar}}" alt="User avatar">
          </div>
          <div class="text-input">
            <label for="review">Review</label>
            <textarea type="text" id="review" [(ngModel)]="gameReviewInput.description"></textarea>
          </div>
          <div class="radio-input">
            <div class="label">Do you recommend this game?</div>
            <input type="radio" name="recommend" id="yes" [value]="true" [(ngModel)]="gameReviewInput.isRecommended">
            <label for="yes">Yes</label>
            <input type="radio" name="recommend" id="false" [value]="false" [(ngModel)]="gameReviewInput.isRecommended">
            <label for="false">No</label>
          </div>
          <div class="button-container">
            <div class="btn saveBtn" (click)="addGameReview()">
              Submit
            </div>
          </div>
        </div>
      </div>
      <div class="review-view-container">
        <div class="review-left">
          <div class="review-title">Most Helpful Reviews in the past 30 Days</div>
          <div class="review-data-container">
            <div class="review-card" *ngFor="let review of mostHelpfulGameReviews">
              <div class="content-container">
                <div class="recommended-container">
                  <img src="../../../../assets/thumbsup.png" alt="Thumbs Up" *ngIf="review.isRecommended">
                  <span *ngIf="review.isRecommended">Recommended</span>
                  <img src="../../../../assets/thumbsdown.png" alt="Thumbs Down" *ngIf="!review.isRecommended">
                  <span *ngIf="!review.isRecommended">Not Recommended</span>
                </div>
                <div class="helpful-count">{{review.helpfulCount}} people found this review helpful</div>
                <div class="description">{{review.description}}</div>
                <div class="helpful-input">
                  <div class="helpful-description">Did you find this review helpful?</div>
                  <div class="helpful-btn-container">
                    <i class="fa fa-thumbs-o-up btn recommended-logo" aria-hidden="true" (click)="helpful(review.id)">Yes</i>
                    <i class="fa fa-thumbs-o-down btn not-recommended-logo" aria-hidden="true" (click)="notHelpful(review.id)">No</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="review-right">
          <div class="review-title">Recently Posted</div>
          <div class="review-data-container">
            <div class="review-card" *ngFor="let review of mostRecentGameReviews">
              <div class="content-container">
                <div class="recommended-container">
                  <img src="../../../../assets/thumbsup.png" alt="Thumbs Up" *ngIf="review.isRecommended">
                  <span *ngIf="review.isRecommended">Recommended</span>
                  <img src="../../../../assets/thumbsdown.png" alt="Thumbs Down" *ngIf="!review.isRecommended">
                  <span *ngIf="!review.isRecommended">Not Recommended</span>
                </div>
                <div class="helpful-count">{{review.helpfulCount}} people found this review helpful</div>
                <div class="description">{{review.description}}</div>
                <div class="helpful-input">
                  <div class="helpful-description">Did you find this review helpful?</div>
                  <div class="helpful-btn-container">
                    <i class="fa fa-thumbs-o-up btn recommended-logo" aria-hidden="true" (click)="helpful(review.id)">Yes</i>
                    <i class="fa fa-thumbs-o-down btn not-recommended-logo" aria-hidden="true" (click)="notHelpful(review.id)">No</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
