<app-header-admin></app-header-admin>
<section>
  <div class="game-insert-container">
    <div class="header-container">
      <div class="title">
        Insert Game
      </div>
    </div>
    <div class="content-container">
      <div class="content">
        <form action="#" method="post">
          <div class="general-section">
            <div class="section-header">
              General
            </div>
            <div class="section-input">
              <div class="text-input">
                <label for="game-name">Name</label>
                <input type="text" id="game-name" name="game-name" placeholder="Name" [(ngModel)]="newGame.name">
              </div>
              <div class="text-input">
                <label for="game-desc">Description</label>
                <textarea name="game-desc" id="game-desc" cols="30" rows="3" style="resize: none" placeholder="Tell us about your game!" [(ngModel)]="newGame.description"></textarea>
              </div>
              <div class="checkbox-input">
                <div class="label">Genres</div>
                <div class="genre-choice" *ngFor="let genre of genres; let i = index">
                  <label>
                    <input type="checkbox" name="genre" class="genre" [value]="i" (change)="onGenreChange($event)">
                    {{genre.name}}
                    {{genre.name}}
                  </label>
                </div>
              </div>
              <div class="checkbox-input">
                <div class="label">Tags</div>
                <div class="tag-choice" *ngFor="let tag of tags; let i = index">
                  <label>
                    <input type="checkbox" name="tag" class="tag" [value]="i" (change)="onTagChange($event)">
                    {{tag.name}}
                  </label>
                </div>
              </div>
              <div class="text-input">
                <label for="game-price">Original Price (IDR)</label>
                <input type="number" id="game-price" name="game-price" placeholder="Price" [(ngModel)]="newGame.originalPrice" autocomplete="off">
              </div>
              <div class="checkbox-input">
                <div class="label">Developers</div>
                <div class="developer-choice" *ngFor="let developer of developers; let i = index">
                  <label>
                    <input type="checkbox" name="developer" class="developer" [value]="i" (change)="onDeveloperChange($event)">
                    {{developer.name}}
                  </label>
                </div>
              </div>
              <div class="dropdown-input">
                <label for="publishers">Publisher</label>
                <select name="publishers" id="publishers" [(ngModel)]="newGame.publisherId">
                  <option *ngFor="let publisher of publishers; let i = index" value="{{i+1}}">
                    {{publisher.name}}
                  </option>
                </select>
              </div>
              <div class="dropdown-input">
                <label for="systems">System Requirement</label>
                <select name="systems" id="systems" [(ngModel)]="newGame.systemId">
                  <option *ngFor="let system of systems; let i = index" value="{{i+1}}">
                    {{system.os + ", RAM " + system.memory + " GB, GPU " + system.graphics + " , Storage " + system.storage}}
                  </option>
                </select>
              </div>
              <div class="media-input">
                <div class="image-preview">
                  <img [src]="bannerPreview" alt="Banner preview">
                </div>
                <div class="upload-section">
                  <div class="label">Game Banner</div>
                  <input type="file" accept="image/*" name="banner" id="banner" placeholder="Upload your game banner" (change)="uploadBanner($event)">
                </div>
              </div>
              <div class="media-input" *ngFor="let num of numSequence(imageIndex); index as i">
                <div class="image-preview">
                  <img [src]="imagePreview[i]" [alt]="num">
                </div>
                <div class="upload-section">
                  <div class="label">Game Images {{i+1}}</div>
                  <input type="file" accept="image/*, video" name="banner" id="images" placeholder="Upload your game banner" (change)="uploadImages($event, i)">
                </div>
              </div>
              <div class="media-input" *ngFor="let num of numSequence(videoIndex); index as i">
                <div class="video-preview">
                  <video [src]="videoPreview[i]" controls></video>
                </div>
                <div class="upload-section">
                  <div class="label">Game Videos {{i+1}}</div>
                  <input type="file" accept="video/*" name="video" id="video" placeholder="Upload your game video" (change)="uploadVideos($event, i)">
                </div>
              </div>
            </div>
          </div>
          <div class="button-section">
            <div class="button-container">
              <img class="loading-gif" src="../../../../assets/loading.gif" alt="Loading gif" *ngIf="isUploading">
              <span class="success-box" *ngIf="isSuccess">Data updated!</span>
              <span class="error-box" *ngIf="isError">Oops, something went wrong!</span>
              <button class="btn cancelBtn">Cancel</button>
              <button class="btn saveBtn" (click)="onSave()">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
