@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/box-shadow';
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: url("../../../../assets/home/bg.png") center top;
  background-size: cover;
  .game-insert-container {
    width: 100%;
    padding: 30px 20px;
    .header-container {
      margin: 20px 10px;
      padding: 10px;
      .title {
        color: $font-light-gray;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
      }
    }
    .content-container {
      color: $font-light-gray;
      background-color: $edit-profile-bg;
      opacity: 80%;
      padding: 10px 40px;
      .content {
        form {
          .general-section {
            display: flex;
            flex-direction: column;
            padding: 15px 5px;
            margin-top: 25px;
            .section-header {
              color: white;
              font-size: 16px;
              text-transform: uppercase;
              padding-bottom: 10px;
            }
            .section-input {
              border-top: 2px solid $font-gray;
              padding: 10px 10px;
              .text-input, .dropdown-input, .checkbox-input, .radio-input {
                display: flex;
                flex-direction: column;
                font-size: 13px;
                color: $font-gray;
                margin-top: 20px;
                label, .label {
                  text-transform: uppercase;
                  padding: 5px 0;
                }
                input, select, textarea {
                  background-color: $edit-input-box;
                  color: $edit-input-font;
                  box-shadow: inset 1px 1px 0px #000a;
                  border: none;
                  padding: 10px;

                }
                .genre-choice, .tag-choice, .button-container {
                  padding: 5px;
                }
              }
              .media-input {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 13px;
                color: $font-gray;
                margin-top: 30px;
                .image-preview, .video-preview {
                  max-width: 350px;
                  height: 200px;
                  box-shadow: $shadow6;
                  img {
                    max-width:100%;
                    max-height:100%;
                    background-position: center;
                  }
                  video {
                    max-width:100%;
                    max-height:100%;
                  }
                }
                .upload-section {
                  margin-left: 20px;
                  .label {
                    text-transform: uppercase;
                    padding: 10px 0;
                  }
                }
              }
            }
          }
          .button-section {
            .button-container {
              display: flex;
              justify-content: flex-end;
              height: 50px;
              .success-box {
                border: 2px solid greenyellow;
                background-color: transparent;
                padding: 10px;
                color: $font-light-gray;
              }
              .error-box {
                border: 2px solid red;
                background-color: transparent;
                padding: 10px;
                color: $font-light-gray;
              }
              .btn {
                width: 150px;
                padding: 6px 40px;
                margin: 0 10px;
                border-radius: 3px;
                font-size: 14px;
                color: white;
                border: none;
                cursor: pointer;
              }
              .btn:hover {
                -webkit-filter: brightness(120%);
              }
              .cancelBtn {
                background-color: $edit-input-button;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
              }
              .saveBtn {
                @include blue-gradient-button;
              }
            }
          }
        }
      }
    }
  }
}
