<app-header></app-header>
<section>
  <!-- INCLUDE HEADER -->
  <div class="login-content">
    <div class="title">
      Sign In
    </div>
    <!-- ERROR MESSAGE -->
    <span [(ngModel)]="errorBox" *ngIf="isError == true" class="error-message">{{errorMessage}} <a href="/suspension-request" *ngIf="isSuspend">Send unsuspend request</a></span>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="#" class="login-input" method="POST">
      <!-- STEAM ACCOUNT NAME INPUT -->
      <div class="steam-name-input">
        <label for="steam-name">Steam account name</label>
        <input type="text" id="steam-name" formControlName="account">
      </div>
      <!-- PASSWORD INPUT -->
      <div class="password-input">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
      </div>
      <!-- REMEMBER ME CHECKBOX INPUT -->
      <div class="remember-me-checkbox">
        <input type="checkbox" name="remember_me" id="remember-me" formControlName="remember_me">
        <label for="remember-me">Remember me on this computer</label>
      </div>
      <!-- SIGN IN BUTTON -->
      <input type="submit" value="Sign In" class="signin-button">
      <a href="#" class="forgot-password">Forgot your password?</a>
    </form>
    <!-- REDIRECT TO REGISTER PAGE -->
    <!--        <button routerLink="/register" class="register-button">Join Steam</button>-->
  </div>
  <div class="join-steam">
    <div class="title">
      Join Steam and discover thousands of games to play.
    </div>
    <a href="#" class="learnmore-link">Learn More</a>
    <img src="../../../assets/login/join_pc.png" alt="Join PC" class="join-image">
    <div class="join-btn">
      <div class="join-text">It's free and easy to use.</div>
      <a href="/register">Join Steam</a>
    </div>
  </div>
</section>
