<app-header-main [user]="this.user" [isUser]="isUser"></app-header-main>
<section>
  <div class="container">
    <div class="header-container">
      <a [routerLink]="['/user/', this.userUrl]" class="header-profile">
        <img src="{{ this.user.avatar }}" alt="{{ this.user.profileName }} Avatar">
        <span class="profile-name">{{ this.user.profileName }}</span>
      </a>
    </div>
    <div class="content-container">
      <div class="sidebar">
        <button class="btn"
                [ngClass]="buttons.generalBtn ? 'select' : 'deselect'"
                (click)="onClick('generalBtn')"
        >General</button>
        <button class="btn"
                [ngClass]="buttons.avatarBtn ? 'select' : 'deselect'"
                (click)="onClick('avatarBtn')"
        >Avatar</button>
        <button class="btn"
                [ngClass]="buttons.backgroundBtn ? 'select' : 'deselect'"
                (click)="onClick('backgroundBtn')"
        >Profile Background</button>
        <button class="btn"
                [ngClass]="buttons.miniBtn ? 'select' : 'deselect'"
                (click)="onClick('miniBtn')"
        >Mini Profile</button>
        <button class="btn"
                [ngClass]="buttons.themeBtn ? 'select' : 'deselect'"
                (click)="onClick('themeBtn')"
        >Theme</button>
        <button class="btn"
                [ngClass]="buttons.badgeBtn ? 'select' : 'deselect'"
                (click)="onClick('badgeBtn')"
        >Featured Badge</button>
      </div>
      <div class="content">
        <app-general-form *ngIf="buttons['generalBtn']" [user]="this.user"></app-general-form>
        <app-avatar-form *ngIf="buttons['avatarBtn']" [user]="this.user"></app-avatar-form>
        <app-profile-background-form *ngIf="buttons['backgroundBtn']" [user]="this.user"></app-profile-background-form>
        <app-mini-profile-form *ngIf="buttons['miniBtn']" [user]="user"></app-mini-profile-form>
        <app-theme-form *ngIf="buttons['themeBtn']" [user]="user"></app-theme-form>
        <app-featured-badge-form *ngIf="buttons['badgeBtn']" [user]="user"></app-featured-badge-form>
      </div>
    </div>
  </div>
</section>
