<section>
    <!-- INCLUDE HEADER -->
    <app-header></app-header>
    <div class="register-content">
        <div class="title">
            Create your account
        </div>
        <!-- ERROR MESSAGE -->
        <div class="error-message">Something went wrong.</div>
        <form action="#" class="register-input" method="POST">
            <!-- EMAIL INPUT -->
            <div class="email-input">
                <label for="email">Email Address</label>
                <input type="text" id="email" required>
            </div>
            <!-- CONFIRM ADDRESS INPUT -->
            <div class="confirm-input">
                <label for="confirm">Confirm your Address</label>
                <input type="text" id="confirm" required autocomplete="off">
            </div>
            <!-- COUNTRY DROPDOWN -->
            <div class="country-input">
                <label for="countries">Country of Residence</label>
                <select name="countries" id="countries" required>
                    <!-- LOOP COUNTRIES -->
                    <option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
                </select>
            </div>
            <!--CAPTCHA  -->
            <app-recaptcha></app-recaptcha>
            <!-- AGREEMENT CHECKBOX -->
            <div class="agreement-checkbox">
                <input type="checkbox" name="agreement" id="agreement" required>
                <label for="agreement">I am 13 years of age or older and agree to the terms of the Steam Subscriber Agreement and the Valve Privacy Policy</label>
            </div>
            <!-- REGISTER BUTTON -->
            <input type="submit" value="Continue" class="continue-button">
        </form>
    </div>
</section>
