@import '../../../styles/colors';
@import '../../../styles/mixins';

.avatar-frame {
  form {
    display: flex;
    flex-direction: column;

    .about-section {
      color: $font-gray;
      font-size: 16px;

      .title {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 24px;
        color: white;
      }
    }

    .avatar-frame-container {
      color: $font-light-gray;
      font-size: 14px;
      margin-top: 20px;

      .preview-container {
        width: 100%;

        img {
          width: 250px;
          height: 250px;
        }
      }
    }

    .choices-container {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      padding: 10px 0;
      width: 100%;
      margin-top: 20px;
      background-color: $admin-games-view-bg;

      .frame-container {
        width: 200px;
        height: 200px;
        margin: 0 5px;
        cursor: pointer;

        img {
          width: 150px;
          height: 150px;
        }

        .avatar-frame-name {
        }
      }
    }
    .button-section {
      margin-top: 20px;
      .button-container {
        display: flex;
        justify-content: flex-end;
        .success-box {
          border: 2px solid greenyellow;
          background-color: transparent;
          padding: 10px;
          color: $font-light-gray;
        }
        .error-box {
          border: 2px solid red;
          background-color: transparent;
          padding: 10px;
          color: $font-light-gray;
        }
        .btn {
          width: 150px;
          padding: 6px 40px;
          margin: 0 10px;
          border-radius: 3px;
          font-size: 14px;
          color: white;
          border: none;
          cursor: pointer;
        }
        .btn:hover {
          -webkit-filter: brightness(120%);
        }
        .cancelBtn {
          background-color: $edit-input-button;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }
        .saveBtn {
          @include blue-gradient-button;
        }
      }
    }
  }
}

