<app-header-admin></app-header-admin>
<!--<app-game-delete-dialog></app-game-delete-dialog>-->
<section>
  <div class="game-view-container">
    <div class="header-container">
      <div class="title">
        View all available games
      </div>
      <a routerLink="/admin/games/insert" class="insert-btn">Insert</a>
    </div>
    <div class="outer-container">
      <div class="inner-container">
        <div class="content-container" *ngIf="games.length != 0">
          <!-- MAIN CONTENT -->
          <div class="row" *ngFor="let game of games; index as i">
            <div class="game-detail">
              <div class="banner-container">
                <img src="{{ game.banner }}" alt="">
              </div>
              <div class="description">
                <span class="name">{{ game.name }}</span>
                <span class="price" *ngIf="game.originalPrice == 0">Free</span>
                <span class="price" *ngIf="game.originalPrice != 0">{{ game.originalPrice }}</span>
              </div>
            </div>
            <div class="button-container">
              <a class="btn update-btn">Update</a>
              <a class="btn remove-btn" (click)="remove(game.id)">Remove</a>
            </div>
          </div>
        </div>
        <div class="content-container" *ngIf="games.length == 0">
          There's nothing to show here!
        </div>
        <div class="navigation-container" *ngIf="games.length != 0">
          <span class="arrow left-arrow" *ngIf="arrowLeft" (click)="moveLeft()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
          <span class="current-page">{{ currentPage }} of {{ totalPage }}</span>
          <span class="arrow right-arrow" *ngIf="arrowRight" (click)="moveRight()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </div>
</section>
