<div class="header-container">
    <div class="header">
        <!-- LEFT SIDE HEADER LOGO + 4/5 CHOICES -->
        <div class="header-left">
            <a routerLink="/"><img src="../../../assets/steam_logo.png" alt="header logo"></a>
            <ul>
                <li>
                    <!-- STORE DROPDOWN -->
                    <div class="dropdown">
                        <a href="#">Store</a>
                        <div class="dropdown-content-store">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Discovery queue</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Point shop</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Stats</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <!-- COMMUNITY DROPDOWN -->
                    <div class="dropdown">
                        <a href="#">Community</a>
                        <div class="dropdown-content-community">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Discussions</a></li>
                                <li><a href="#">Workshop</a></li>
                                <li><a href="#">Market</a></li>
                                <li><a href="#">Broadcasts</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li *ngIf="isUser">
                  <div class="dropdown">
                    <a href="#">{{user.accountName}}</a>
                    <div class="dropdown-content-community">
                      <ul>
                        <li><a href="#">Activity</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Friends</a></li>
                        <li><a href="#">Groups</a></li>
                        <li><a href="#">Content</a></li>
                        <li><a href="#">Badges</a></li>
                        <li><a href="#">Inventory</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li *ngIf="!isUser"><a href="#">About</a></li>
                <li *ngIf="isUser"><a href="#">Chat</a></li>
                <li><a href="#">Support</a></li>
                <li></li>
            </ul>
        </div>
        <!-- RIGHT SIDE HEADER 2 MENU -->
        <div class="header-right">
            <ul *ngIf="!isUser">
                <!-- REDIRECT TO LOGIN PAGE -->
                <li><a routerLink="/login">login</a></li>
                <li>  |  </li>
                <!-- CHANGE LANGUAGE -->
                <li>language</li>
            </ul>
                <!-- EMAIL BOX SHOW IF THERE IS NOTIFICATION -->
            <div class="mail-box" *ngIf="isUser">
                <span class="mail-number">3</span>
                <span class="mail-logo"><img src="../../../assets/home/mail%20logo.jpg" alt="mail"></span>
            </div>
        </div>
    </div>
</div>
