@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

section {
  @include flex-center;
  background: url("../../../assets/home/bg.png") center top;
  background-size: cover;
  min-height: 100%;
  width: 100%;
}

.home-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 80px 10px 40px;

  app-home-content {
    width: 100%;
  }
}
