@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: url("../../../../assets/home/bg.png") center top;
  background-size: cover;
  .promo-view-container {
    width: 100%;
    padding: 20px 40px;
    .header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 20px;
      .title {
        color: $font-light-gray;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
      }
      .insert-btn {
        padding: 8px 25px;
        width: 75px;

        text-align: center;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        margin: 0 5px;
        cursor: pointer;

        @include blue-gradient-button;
      }
      .insert-btn:hover {
        -webkit-filter: brightness(120%);
      }
    }
    .outer-container {
      background-color: $admin-games-view-bg;
      color: $font-light-gray;
      .inner-container {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        .content-container {
          .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            min-height: 75px;
            max-height: 100px;

            border-bottom: 2px solid $login-font;
            .button-container {
              .btn {
                padding: 8px 25px;

                width: 75px;
                text-align: center;
                color: white;
                text-decoration: none;
                border-radius: 3px;
                margin: 0 5px;
                cursor: pointer;
              }
              .btn:hover {
                -webkit-filter: brightness(120%);
              }
              .update-btn {
                background-color: $green-btn;
              }
              .remove-btn {
                background-color: $red-btn;
              }
            }
          }
        }
        .navigation-container {
          @include flex-center;
          font-size: 18px;
          color: $font-gray;
          .arrow {
            margin: 0 5px;
            padding: 5px;
            font-size: 22px;
            cursor: pointer;
          }
          .arrow:hover {
            color: $login-btn-hover;
          }
        }
      }
    }
  }
}
