@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

section {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: $font-light-gray;

  .outer-container {
    @include flex-center();
    margin-top: 20px;

    .payment-form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      .upper-payment-form {
        .dropdown-input, .text-input {
          display: flex;
          flex-direction: column;
          font-size: 13px;
          color: $font-gray;
          margin-top: 20px;

          label {
            text-transform: uppercase;
            padding: 5px 0;
          }

          input, select, textarea {
            background-color: $edit-input-box;
            color: $edit-input-font;
            box-shadow: inset 1px 1px 0 #000a;
            border: none;
            padding: 10px;
          }
        }
      }

      .main-payment-form {
        margin-top: 30px;

        .title {
          text-transform: uppercase;
          font-size: 24px;
          color: white;
        }

        .text-input {
          display: flex;
          flex-direction: column;
          font-size: 13px;
          color: $font-gray;
          margin-top: 20px;

          label {
            text-transform: uppercase;
            padding: 5px 0;
          }

          input, select, textarea {
            background-color: $edit-input-box;
            color: $edit-input-font;
            box-shadow: inset 1px 1px 0 #000a;
            border: none;
            padding: 10px;
          }
        }
      }

      .button-container {
        margin-top: 30px;
        margin-bottom: 50px;
        .notes {
          color: $font-gray;
          font-size: 12px;
        }

        .submitBtn {
          margin-top: 15px;
          @include blue-gradient-button();
          padding: 5px 10px;
          cursor: pointer;
          text-align: center;
          max-width: 150px;
        }

        .submitBtn:hover {
          -webkit-filter: brightness(120%);
        }
      }
    }
  }
}
