@import '../../../styles/colors';
@import '../../../styles/mixins';

.item-data {
  display: flex;
  align-items: center;
  width: 125px;
  height: 125px;
  border: 1px solid $font-light-gray;
  cursor: pointer;
  img {
    width: 125px;
  }
}

.item-data:hover {
  -webkit-filter: brightness(120%);
}
