@import '../../../styles/colors';
@import '../../../styles/mixins';

.badge-container {
  form {
    display: flex;
    flex-direction: column;
    .about-section {
      color: $font-gray;
      font-size: 16px;
      .title {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 24px;
        color: white;
      }
    }
    .featured-badge-container {
      color: $font-light-gray;
      font-size: 14px;
      margin-top: 20px;
      .badge-preview {
        width: 100%;
        @include flex-center();
        img {
          height: 75px;
        }
        .badge-name {
          margin-left: 10px;
          font-size: 14px;
        }
      }
      .choices-container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        padding: 10px 0;
        width: 100%;
        margin-top: 20px;
        background-color: $admin-games-view-bg;
        .badge-choices-container {
          display: flex;
          align-items: center;
          width: 200px;
          height: 150px;
          margin: 0 5px;
          cursor: pointer;
          img {
            height: 50px;
          }
          .badge-name {
            margin-left: 10px;
            font-size: 14px;
          }
        }
      }
    }
    .button-section {
      margin-top: 20px;
      .button-container {
        display: flex;
        justify-content: flex-end;
        .success-box {
          border: 2px solid greenyellow;
          background-color: transparent;
          padding: 10px;
          color: $font-light-gray;
        }
        .error-box {
          border: 2px solid red;
          background-color: transparent;
          padding: 10px;
          color: $font-light-gray;
        }
        .btn {
          width: 150px;
          padding: 6px 40px;
          margin: 0 10px;
          border-radius: 3px;
          font-size: 14px;
          color: white;
          border: none;
          cursor: pointer;
        }
        .btn:hover {
          -webkit-filter: brightness(120%);
        }
        .cancelBtn {
          background-color: $edit-input-button;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }
        .saveBtn {
          @include blue-gradient-button;
        }
      }
    }
  }
}
